@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f5dde3;
    color: white;
}

.table {
    display: table;
    color: black;
    background-color: bg-red-200;
    /* border: 1px solid #000; */
    border-collapse: separate;
    border-spacing: 50px;
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -530px;
    top: 70%;
    margin-top: -300px;
    text-align: center;
    border-spacing: 5cap;
    
}

.imgEL {
    height: 20%;
    width: 20%;
    margin-left: 100px;
    margin-right: 10px;
}

.imgED {
    height: 20%;
    width: 20%;
    margin-left: 10px;
    margin-right: 100px;
}

